/** Reset some basic elements */

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
    margin: 0;
    padding: 0;
}


/** Basic styling */

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
    color: #111;
    background-color: #fdfdfd;
    -webkit-text-size-adjust: 100%;
}

@media screen and (max-width: 767px) {
    body {
        font-size: 14px;
    }
}


/** Set `margin-bottom` to maintain vertical rhythm */

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure,
.highlight {
    margin-bottom: 20px;
}


/** Images */

img {
    max-width: 100%;
    vertical-align: middle;
}


/** Lists */

ul,
ol {
    margin-left: 40px;
}

li>ul,
li>ol {
    margin-bottom: 0;
}


/** Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
}


/** Links */

a {
    color: #2a7ae2;
    text-decoration: none;
}

a:visited {
    color: #1756a9;
}

a:hover {
    color: #111;
    text-decoration: underline;
}


/** Wrapper */

.wrapper {
    max-width: -webkit-calc(800px - (40px * 2));
    max-width: calc(800px - (40px * 2));
    margin-left: 300px;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 40px;
    background-color: #fdfdfd;
}

@media screen and (max-width: 767px) {
    .wrapper {
        margin-left: 0;
        margin-top: 150px;
        z-index: -1;
    }
}


/** Clearfix */

.wrapper:after,
.menu:after {
    content: "";
    display: table;
    clear: both;
}

#left-aside {
    background-color: whitesmoke;
    float: left;
    width: 300px;
    height: 100vh;
    position: fixed;
    border-right: solid 5px #00B09B;
}

@media screen and (max-width: 767px) {
    #left-aside {
        float: none;
        top: 0;
        width: 100%;
        height: 150px;
        z-index: 5;
    }
}

#left-aside p {
    padding-left: 20px;
}

@media screen and (max-width: 767px) {
    #left-aside p {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    #left-aside p {
        display: none;
    }
}

.menu {
    padding: 0;
    margin: 0;
    float: right;
    line-height: 1.4;
}

.menu>li {
    list-style-type: none;
}

.menu>li img {
    width: 18px;
    padding: 3px 0;
}

.menu>li:first-of-type,
.menu li:last-of-type {
    margin-left: -13px;
}

.info {
    width: 125px;
    margin: 20px;
}

@media screen and (max-width: 767px) {
    .info {
        display: inline;
        position: fixed;
        margin: 10px;
    }
}

.logo {
    width: 100px;
}

.web-work ul {
    padding: 0;
    margin: 0;
}

.web-work ul li {
    font-size: 0.875rem;
    font-family: 'Josefin Sans', sans-serif;
    background: #ddd;
    list-style-type: none;
    width: 16%;
    display: inline-block;
    position: relative;
    z-index: 3;
    overflow: hidden;
    text-align: right;
}

@media screen and (max-width: 72em) {
    .web-work ul li {
        width: 30%;
    }
    .project img {
        vertical-align: top;
    }
    .project.right {
        text-align: center;
    }
}

@media screen and (max-width: 49.4375em) {
    .web-work ul li {
        width: 100%;
    }
}

.web-work li:before {
    display: block;
    background: #ddd;
    height: 100px;
    content: " ";
    width: 100%;
    z-index: 1;
}

.web-work li:after {
    position: absolute;
    left: 0;
    content: " ";
    width: 100%;
    bottom: 1.1rem;
}

@media screen and (max-width: 58em) {
    .web-work li:after {
        left: -1px;
        width: 102%;
    }
}


/*JS*/

.web-work li:nth-child(1) {
    background: #eedc4d;
    color: inherit;
}

.web-work li:nth-child(1)::after {
    background: #eedc4d;
    height: 60%;
}


/*HTML5*/

.web-work li:nth-child(2) {
    color: #fff;
    background: #e34e27;
}

.web-work li:nth-child(2)::after {
    background: #e34e27;
    height: 60%;
}


/*CSS3*/

.web-work li:nth-child(3) {
    color: #fff;
    background: #006fb8;
}

.web-work li:nth-child(3)::after {
    background: #006fb8;
    height: 50%;
}


/*PHP*/

.web-work li:nth-child(4) {
    color: #fff;
    background: #9789df;
}

.web-work li:nth-child(4)::after {
    background: #9789df;
    height: 50%;
}


/*MySQL*/

.web-work li:nth-child(5) {
    color: #fff;
    background: #13607c;
}

.web-work li:nth-child(5)::after {
    background: #13607c;
    height: 30%;
}


/*PS*/

.web-work li:nth-child(6) {
    color: #fff;
    background: #06489e;
}

.web-work li:nth-child(6)::after {
    background: #06489e;
    height: 30%;
}

.projects {
    text-align: center;
}

.project h2 {
    text-align: left;
}

.project {
    color: inherit;
    display: inline-block;
    width: 40%;
    font-size: 14px;
    margin: 10px;
    vertical-align: top;
}

.project img {
    width: 100%;
    height: 100%;
    padding: 3px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .4);
}

@media screen and (max-width: 72em) {
    .project.right,
    .project.left {
        text-align: center;
    }
    .project small {
        display: block;
    }
}

section h2 {
    color: rgba(0, 0, 0, .8);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
}

section p {
    color: rgba(0, 0, 0, .7);
    font-family: 'Slabo 27px', serif;
    font-size: 19px;
}